<div class="divide-y divide-slate-200 md:px-2 sm:px-2 overflow-hidden rounded-lg bg-slate">
  <div class="md:flex md:items-center md:justify-between">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl py-1 font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
        About Me
      </h2>
    </div>

  </div>
  <div class="py-4 sm:py-4">
    <p class="mb-4">
      I am a software developer that has been working in cloud infrastructure management for 7 years. I create front-end
      tools to allow users to manage servers on hosted on AWS and Azure. Tracking and managing server, product, user,
      and environment states, and building experiences that ensure everything is handled with care, is a big part of my
      everyday work.
    </p>
    <p class="mb-4">
      Another big part of my day is helping to improve my team as its scrum master. Making sure to create an open
      environment for reliable, consistant, and productive communication is a major factor in building a high performing
      team.
    </p>
    <p class="mb-4">
      The technology that helped to build this site is the same tech I use daily. I use
      <a href="https://angular.dev/"> Angular </a> with <a href="https://tailwindcss.com/">Tailwind</a>,
      and <a href="https://jestjs.io/">Jest</a> for testing; all writen in
      <a href="https://www.typescriptlang.org/">Typescript</a>. This site is currently hosted in AWS, while in my day to
      day work I am using the full suite of features from AWS and Azure, that complexity isn't needed for this project
      ;P,
      so here I am using the <a href="https://aws.amazon.com/amplify/">Amplify</a> platform to allow me to get this
      project up and running quickly while keeping costs low.
    </p>
    <p class="mb-4">
      This project is a little sandbox for me play with the tools and tech I love, while also trying out some new stuff
      to keep my skills current, and also being a creative outlet without the contraints and complexity of enterprise
      level development.
    </p>
  </div>
</div>