<div class="divide-y divide-slate-300 dark:divide-slate-500 md:px-2 sm:px-2 overflow-hidden rounded-lg bg-slate">
  <div class="md:flex md:items-center md:justify-between">
    <div class="min-w-0 flex-1">
      <h2
        class="text-2xl py-1 font-bold leading-7 text-slate-900 dark:text-slate-50 sm:truncate sm:text-3xl sm:tracking-tight">
        About Me
      </h2>
    </div>
  </div>
  <div class="py-4 sm:py-4">
    <p class="mb-4 text-slate-900 dark:text-slate-50">
      I am a software developer that has been working in cloud infrastructure management for 7 years.
      I create front-end tools to allow users to manage servers hosted on AWS and Azure.
      Tracking and managing server, product, user, and environment states, and building experiences
      that ensure everything is handled with care, is a big part of my everyday work.
    </p>
    <p class="mb-4 text-slate-900 dark:text-slate-50">
      Another big part of my day is helping to improve my team as its scrum master.
      Making sure to create an open environment for reliable, consistent, and productive
      communication is a major factor in building a high performing team.
    </p>
    <p class="mb-4 text-slate-900 dark:text-slate-50">
      The technology that helped to build this site is the same tech I use daily.
      I use<a href="https://angular.dev/" target="_blank" class="underline"> Angular </a> with
      <a href="https://tailwindcss.com/" target="_blank" class="underline">Tailwind</a>,
      and <a href="https://jestjs.io/" target="_blank" class="underline">Jest</a> for testing; all written using
      <a href="https://www.typescriptlang.org/" target="_blank" class="underline">Typescript</a>.
      This site is currently hosted in AWS, while in my day to day work, I am using the full suite of features from AWS
      and Azure, that complexity isn't needed for this project ;P, so here I am using the
      <a href="https://aws.amazon.com/amplify/" target="_blank" class="underline">Amplify</a>
      platform to allow me to get this project up and running quickly while keeping costs low.
    </p>
    <p class="mb-4 text-slate-900 dark:text-slate-50">
      This project is a little sandbox for me play with the tools and tech I love,
      while also trying out some new stuff to keep my skills current and being a creative
      outlet without the constraints and complexity of enterprise level development.
    </p>
  </div>
</div>