<div class="min-h-full mx-auto w-full grow md:flex overflow-auto">
  <!-- Left sidebar & main wrapper -->
  <div class="flex md:flex">
    <div class="px-4 py-6 sm:px-6">
      <!-- Main area -->
      <div class="divide-y divide-slate-300 dark:divide-slate-500">
        <div class="min-w-0 flex-1">
          <h2
            class="text-2xl py-1 font-bold leading-7 text-slate-900 dark:text-slate-50 sm:truncate sm:text-3xl sm:tracking-tight">
            Experience
          </h2>
        </div>
        <div>
          <ul role="list" class="divide-y divide-gray-300 dark:divide-slate-500">
            <li class="flex items-center justify-between gap-x-6 py-5">
              <div class="min-w-0">
                <div class="flex items-start gap-x-3">
                  <p class="text-sm font-semibold leading-6  text-slate-900 dark:text-slate-50">
                    Senior Software Developer
                  </p>
                  <p
                    class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-slate-700 bg-slate-50 ring-green-600/20">
                    Current
                  </p>
                </div>
                <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                  <p class="whitespace-nowrap">Aug 2022 - Present</p>
                  <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                    <circle cx="1" cy="1" r="1" />
                  </svg>
                  <p class="truncate">Soti Inc.</p>
                </div>
                <ul class="my-1 p-1 text-sm text-slate-900 dark:text-slate-50">
                  <li class="my-3">
                    Currently serving as Scrum Master for a team of 10 developers.
                  </li>
                  <li class="my-3">
                    Utilized JIRA to help plan and track projects, sprints, and backlog items.
                  </li>
                  <li class="my-3">
                    Mentored new hires and interns on team workflow and standard practices,
                    as well as delegating work when leading development projects.
                  </li>
                  <li class="my-3">
                    Continued to lead UI development while improving team management and
                    scrum practices.
                  </li>
                  <li class="my-3">
                    Migrated UI test frameworks away from Jasmine and Karma to Jest.
                  </li>
                  <li class="my-3">
                    Containerized UI using docker, hosted with Nginx in ECS.
                  </li>
                </ul>
              </div>
            </li>
            <li class="flex items-center justify-between gap-x-6 py-5">
              <div class="min-w-0">
                <div class="flex items-start gap-x-3">
                  <p class="text-sm font-semibold leading-6  text-slate-900 dark:text-slate-50">
                    Software Developer
                  </p>
                </div>
                <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                  <p class="whitespace-nowrap">May 2018 - Aug 2022</p>
                  <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                    <circle cx="1" cy="1" r="1" />
                  </svg>
                  <p class="truncate">Soti Inc.</p>
                </div>
                <ul class="my-1 p-1 text-sm text-slate-900 dark:text-slate-50">
                  <li class="my-3">
                    Built an admin dashboard with C#, .Net and Angular to monitor/alert, and
                    report, on 10000+ concurrent servers and hundreds of users across AWS
                    and Azure.
                  </li>
                  <li class="my-3">
                    Lead the redesign and build of a new dashboard UI.
                  </li>
                  <li class="my-3">
                    Developed and maintained legacy UI in AngularJS with JavaScript.
                  </li>
                  <li class="my-3">
                    Created web host services with Kestrel, NodeJS, and Nginx.
                  </li>
                </ul>
              </div>
            </li>
            <li class="flex items-center justify-between gap-x-6 py-5">
              <div class="min-w-0">
                <div class="flex items-start gap-x-3">
                  <p class="text-sm font-semibold leading-6  text-slate-900 dark:text-slate-50">
                    Software Developer in Test
                  </p>
                </div>
                <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                  <p class="whitespace-nowrap">Jan 2017 - May 2018</p>
                  <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                    <circle cx="1" cy="1" r="1" />
                  </svg>
                  <p class="truncate">Soti Inc.</p>
                </div>
                <ul class="my-1 p-1 text-sm text-slate-900 dark:text-slate-50">
                  <li class="my-3">
                    Improved the UI layout which led to a decrease in page load times by 75%.
                  </li>
                  <li class="my-3">
                    Created unit and integration tests in C# with Specflow and NUnit for
                    backend services and utilities.
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div
    class="shrink-0 border-t border-slate-300 dark:border-slate-500 px-4 py-6 sm:px-6 md:w-72 md:border-l md:border-t-0 md:pr-8">
    <!-- Right column area -->

    <div class="divide-y divide-slate-300 dark:divide-slate-500">
      <div class="min-w-0 flex-1">
        <h2
          class="text-2xl py-1 font-bold leading-7 text-slate-900 dark:text-slate-50 sm:truncate sm:text-3xl sm:tracking-tight">
          Skills
        </h2>
      </div>
      <div>
        <ul class="my-3 p-1 text-sm text-slate-900 dark:text-slate-50">
          <li class="my-2">
            C#/.Net - Advanced
          </li>
          <li class="my-2">
            Angular - Advanced
          </li>
          <li class="my-2">
            Typescript - Advanced
          </li>
          <li class="my-2">
            JavaScript - Advanced
          </li>
          <li class="my-2">
            AWS - Intermediate
          </li>
          <li class="my-2">
            SQL - Intermediate
          </li>
        </ul>
      </div>
    </div>

    <div class="divide-y divide-slate-300 dark:divide-slate-500">
      <div class="min-w-0 flex-1">
        <h2
          class="text-2xl py-1 font-bold leading-7 text-slate-900 dark:text-slate-50 sm:truncate sm:text-3xl sm:tracking-tight">
          Education
        </h2>
      </div>
      <div>
        <ul role="list">
          <li class="flex items-center justify-between gap-x-6 py-5">
            <div class="min-w-0">
              <div class="flex items-start gap-x-3">
                <p class="text-sm font-semibold leading-6  text-slate-900 dark:text-slate-50">
                  Certified Scrum Master
                </p>
              </div>
              <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                <p class="whitespace-nowrap">Aug 2022</p>
                <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                  <circle cx="1" cy="1" r="1" />
                </svg>
                <p class="truncate">Scrum Alliance</p>
              </div>
            </div>
          </li>
          <li>
            <div class="min-w-0">
              <div class="flex items-start gap-x-3">
                <p class="text-sm font-semibold leading-6  text-slate-900 dark:text-slate-50">
                  Advanced Deploma in Software Development
                </p>
              </div>
              <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                <p class="whitespace-nowrap">Dec 2016</p>
                <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                  <circle cx="1" cy="1" r="1" />
                </svg>
                <p class="truncate">Sheridan College</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>