@switch(imageSize) {
@case('xs') {
<img class="inline-block h-6 w-6 rounded-full" [src]="imageSrc" alt="">
}
@case('s') {
<img class="inline-block h-8 w-8 rounded-full" [src]="imageSrc" alt="">
}
@case('m') {
<img class="inline-block h-10 w-10 rounded-full" [src]="imageSrc" alt="">
}
@case('l') {
<img class="inline-block h-12 w-12 rounded-full" [src]="imageSrc" alt="">
}
@case('xl') {
<img class="inline-block h-14 w-14 rounded-full" [src]="imageSrc" alt="">
}
@case('xxl') {
<img class="inline-block h-16 w-16 rounded-full" [src]="imageSrc" alt="">
}
}